@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html, body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}


:root{
    /* this is where i am declaring all the colors that i used in my design so that i can reuse them over and over and if i need to make a change to a color i can edit it once. */
    
    /* ?These are all my primary colors and their variations based on their use case */
    --primary-main : #273B73;
    --primary-surface : #F0F1F5;
    --primary-border: #B7BED0;
    --primary-focus:  rgba(39, 59, 115, 0.2);
    --primary-hover:#203160;
    --primary-pressed:  #131D39;

    /* ?These are other colors that i created based on the ucc logo */
    --secondary-main : #7A81A3;
    --cultured: #F9F8F8;
    --yellow: #F9E90C;

    /* ?These are all my danger colors and their variations based on their use case */
    --danger-main : #D2262D;
    --danger-surface : #FBEAEA;
    --danger-border: #F0B7B9;
    --danger-hover:#AF2025;
    --danger-pressed:  #691316;

    /* ?These are all my success colors and their variations based on their use case */
    --success-main : #008000;
    --success-surface : #EEF7EE;
    --success-border: #AAD5AA;
    --success-hover:#006B00;
    --success-pressed:  #004000;

    /* ?These are all my info colors and their variations based on their use case */
    --info-main : #0083E1;
    --info-surface : #E8F4FC;
    --info-border: #AAD6F5;
    --info-hover:#006DBB;
    --info-pressed:  #004170;

    /* ?These are all my warning colors and their variations based on their use case */
    --warning-main : #FD7F20;
    --warning-surface : #FFF0E6;
    --warning-border: #FED4B5;
    --warning-hover:#D36A1B;
    --warning-pressed:  #7E3F10;

     /* ?These are all my neutral colors and their variations based on their use case */
    --neutral-100 : #FFFFFF;
    --neutral-200 : #DCDCDC;
    --neutral-300 : #D5D5D5;
    --neutral-400 :  #C9C9C9;
    --neutral-500 : #AEAEAE;
    --neutral-600 : #8E8E8E;
    --neutral-700 : #696969;
    --neutral-800 : #575757;
    --neutral-900 : #393939;
    --neutral-black: #000000;
    

    /*? This is a list of drop shadows to add depth to my buttons, inputs and other things really like cards  */
    --small-shadwow : ;
    --medium-shadow: 0px 8px 16px rgba(36, 102, 117, 0.25);
    --large-shadow: 0px 10px 20px rgba(36, 102, 117, 0.3);

    /* ?Here is my list of border radi */
    --border-radius: 0.25rem;

    /* ? Here i will build up my font sizes so i can use them over and over */
    --h1: 3.875rem;
    --h2: 3rem;
    --h3: 2.5rem;
    --h4: 2rem;
    --h5: 1.5rem;
    --h6: 1.25rem;

}

h1{
    font-size: var(--h1);
    font-weight:400;
}

h2{
    font-size: var(--h2);
    font-weight:400;
}

h3{
    font-size: var(--h3);
    font-weight:400;
}

h4{
    font-size: var(--h4);


h4{
    font-size: var(--h4);
    font-weight:400;
}    font-weight:400;
}

h5{
    font-size: var(--h5);
    font-weight:400;
}

h6{
    font-size: var(--h6);
    font-weight:400;
}


.ucc-logo{
    margin-top: 4rem;
    margin-bottom:3rem ;
}

.input-group{
    margin-top:1.5rem ;
}

.inputs{
    width: 24.75rem;
    height: 3rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--neutral-500) ;
    padding: 0.5rem, 0.75rem, 0.5rem, 0.75rem;
    margin-top: 0.5rem;
    
}

.btn-primary{
    background-color: var(--primary-main);
    width: 24.75rem;
    height: 3rem;
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

.card-body{
    display: flex;
flex-direction: column;
align-items: center;
padding: 64px;
    align-items: center;

    position: relative;
width: 524px;
height: 670px;
}